# fly.toml app configuration file generated
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "your-app-name"

# all regions: https://fly.io/docs/reference/regions
primary_region = 'fra' 

[build]
  dockerfile = "Dockerfile"
  
[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true 
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory = '512mb'
  
[mounts]
  source = "data"
  destination = "/myproject/data"